:root {
    --background-color: #FAFAFA;
    --white-button: #FFFBFE;
    --blue-buttons: #0095F6;
    --blue-text: #07ACFA;
    --white: white;
    --lightgray: lightgray;
    --black: black;
    --middle-dark: #1d1e22;
    --light-dark: #484b56;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    background-color: var(--background-color);

}

body.darkness {
    background-color: var(--black);
    color: var(--white);

}

.container {
    width: 60%;
    height: 100vh;
}

.toggle-day-night {
    margin-top: 5rem;
    display: flex-end;
    text-align: right;
}

.toggle-on {
    display: none;
}

.toggle-on i{
    color: var(--blue-buttons);
}

.toggle-off i{
    color: var(--black);
}

.toggle-on i, 
.toggle-off i {
    font-size: 4.5rem;
    cursor: pointer;
}

.toggle-on.activate {
    display: inline-block;
}

.toggle-off.desactivate {
    display: none;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img{
    height: 50rem;
}

.instagram-continue {
    display: flex;
    flex-direction: column; /*A 2 propriedades abaixo tiveram seus padrões alterados por causa do fex-direction*/
    align-items: center; /* alinhado ao centro horizontalmente*/
    justify-content:space-around; /*aplciado verticalmente*/
    min-width: 380px;
}

.instagram-continue div:nth-child(1) {
    min-height: 25rem;
    min-width: 20rem;
}

.instagram-continue div:nth-child(2) {
    margin-top: 1rem;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--lightgray);
    padding: 1.3rem 0;
}

#body.darkness .group {
    background-color: var(--middle-dark);
    border-color: var(--light-dark);
}

.instagram-logo{
    height: 3.2rem;
}

.logo-white {
    display: none;
}

.logo-black.desactivate {
    display: none;
}

.logo-white.activate {
    display: inline;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;  
    overflow: hidden;  
}

.profile-photo img {
    width: 6.25rem;
    border-radius: 50%;
}

.instagram-login {
    color: var(--white-button);
    background-color: var(--blue-buttons);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.group p {
    margin-bottom: 1rem;
}

.instagram-logout {
    color: var(--blue-buttons);
    font-weight: bold;
}

.get-this-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10.2rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./assets/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./assets/googleplay-button.png');
}




@media (max-width: 1700px) {
    .instagram-continue {
        width:42%;
    }
}

@media (max-width: 1600px) {
    .container {
        width: 90%;
    }
    .instagram-continue {
        width: 30%;
    }
}
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
    .instagram-continue {
        width: 30%;
    }
}



@media (max-width: 750px) {
    body {
        background-color: var(--white);
    }

    .container {
        width: 90%;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group{
        border: none;
    }
}